<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS https://getbootstrap.com/docs/4.4/getting-started/introduction/-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Edit</title>
</head>
<body>
	<div class="container">
		<div class="in-line">
			<h1>Edit event</h1>
		</div>
		<div>
			<form th:object="${editEvent}" th:action="@{/saveEvent}" action="#" method="post">
				 <div class="col-auto my-1">
				 	<input type="hidden" id="eventId" th:field="*{eventId}" />
				 </div>
				  	<div class="col-auto my-1">
					  	<label class="mr-sm-2 ">Name</label>
					  	<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{eventName}" />
						</div>
					</div>
					<div class="col-auto my-1">
					  	<label class="mr-sm-2 ">Date</label>
						<div class="col-sm-10">
							<input class="form-control" type="date" th:field="*{date}" />
						</div>
					</div>
					<div class="col-auto my-1">
						<label class="mr-sm-2">Description</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{description}" />
						</div>
					  </div>
					<div class="col-auto my-1">
						<label class="mr-sm-2">Price</label>
						<div class="col-sm-10">
							<input class="form-control" type="number" min="0.00" step="any" th:field="*{price}" />
						</div>
					</div>
					<div class="col-auto my-1">
						<label class="mr-sm-2">Address</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{streetAddress}" />
						</div>
					  </div>
					<div class="col-auto my-1">
						<label class="mr-sm-2">Category</label>
						<select class="form-control col-sm-10" id="categories" th:field="*{category}" >
							   <option th:each="category: ${categories}" th:value="${category.categoryName}" th:text="${category.categoryName}"></option>
						</select>
					</div>
					<div class="col-auto my-1">
						<label class="mr-sm-2">Location</label>
							<select class="form-control col-sm-10" id="locations" th:field="*{location}" >
	       						<option th:each="location: ${locations}" th:value	="${location.locationId}" th:text="${location.city} + ' ' + ${location.zipcode}"></option>
	    					</select>
			   		</div><br>
									
				<div class="form-group align-center" >
					<input type="submit" class="btn btn-success" value="Save"></input>
					<a class="btn btn-secondary" href="/eventlist" role="button">Back to eventlist</a>
				</div>
			</form>
			
		</div>
	</div>
</body>
</html>